<!DOCTYPE html>
  <html xmlns:th="http://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <title th:utext="${title}" />
      <link rel="stylesheet" type="text/css" th:href="@{/static/css/styleLogin.css}"/>
  </head>
  <body>
    <h1>Login</h1>
    <div id="app">
      <h1>LOGIN</h1>
       <form v-on:submit.prevent="onSubmit">
            <p>Username <input type="text" v-model="username" /></p>
            <p>Username <input type="text" v-model="username" /></p>
            <p>Username <input type="text" v-model="username" /></p>
            <p>Username <input type="text" v-model="username" /></p>
            <p>Password <input type="password" v-model="password" /></p>
            <p><button v-on:click.prevent="auth()"> Send </button><input type="reset" value="Reset" /></p>
        </form>
      </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://cdn.jsdelivr.net/vue/1.0.10/vue.min.js"></script>
    <script>
      Vue.prototype.$http = axios;
      new Vue({
        el: '#app',
        data: {
          username: '',
          password: ''
        },
        methods: {
          auth() {
            var self = this;
            console.log(self.username, self.password);
            this.$http.post('/auth', {
              username: self.username,
              password: self.password
            }).then(response => {
              document.cookie = "token=" + response.data.token;
            });
          }
        }
      });
    </script>
  </body>
</html>